<script type="module" src="/js/admin.js"></script>

{{> menu}}

<section class="admin">
  <div class="announcement__container">
    <h3 class="announcement__title">Announcements</h3>
    <form id="announcement__form">
      <input type="text" id="title" placeholder="Title" required />
      <textarea id="message" placeholder="Your message here" required></textarea>
      <button type="submit">Post Announcement</button>
    </form>
    <div id="announcements-list"></div>
    <button id="delete-all-announcements">Delete All Announcements</button>
  </div>
  <h3 class="admin__title">Analytics</h3>
  <div class="analytics__container">
    <article class="analytics__users">
      <div class="analytics__box">
        <p class="analytics__text">Tot. users: {{ users.length }}</p>
        <ul class="analytics__list">
          {{#each users}}
          <li class="analytics__row">
            <span class="analytics__element">{{ this.firstName }}</span>
            <span class="analytics__element">{{ this.lastName }}</span>
            <span class="analytics__element">{{ this.email }} </span>
            <span class="analytics__element"> {{ this.type }} </span>
            {{#if (eq this.type "user")}}
            <span class="analytics__element"><button class="analytics__button" data-user-id="{{ this.id }}" data-action="promote">Promote to Mod</button></span>
            {{/if}}
            {{#if (eq this.type "mod")}}
            <span class="analytics__element"><button class="analytics__button" data-user-id="{{ this.id }}" data-action="demote">Demote to User</button></span>
            {{/if}}
          </li>

          {{/each}}
        </ul>
      </div>
    </article>
    <article class="analytics__pois">
      <div class="analytics__box">
        <p class="analytics__text">Tot. all POIs: {{ pois.length }}</p>
        <p class="analytics__text">Tot. public POIs: {{ publicPois.length }}</p>
        <p class="analytics__text">Tot. candidate POIs: {{ candidatePois.length }}</p>
        <p class="analytics__text">Tot. private POIs: {{ privatePois.length }}</p>
      </div>
    </article>
  </div>
</section>
